.padding{
    padding-top:2%;
     padding-bottom:2%;
}

.pointer{
    cursor:pointer;
}
.nav{
    /* removing this property is making scrollbar go */
    /* padding-left: 20%; */
    width: 100%;
}
.nav-item{
    margin-left: 4%;
    margin-right: 4%;
}
.margin-49{
    margin-bottom:4.9%;
}

#request-a-training
{
  background: linear-gradient(to right, #0697C3 , #4DBFE2);
  color: white;
  display: flex;
  /* align-self: auto; */
  /* margin-right: auto; */
  margin-right:0.18rem; 
}

#offer-a-training
{
  background: linear-gradient(to right, #0697C3 , #4DBFE2);
  color: white;
  display: flex;
  /* margin-left:0.8%;  */
  /* align-self: auto; */
  /* margin-left: auto; */
 
}

.h2, h2 {
    font-size: 2rem;   
}

  
.nav-link{
    color:rgba(0, 0, 0, 0.49);
    border-top:0;
    border-left:0;
    border-right:0;
    font-size: 150%;
    text-align: center;
}



#trainings-nav .active{
    color: #0697C3;
    background-color: rgba(0,0,0,0.02);
    border-bottom: 4px solid #0697C3;
}

@media (max-width:786px) {
    .nav-link {
        font-size: 100%;
    }
}

