<div class="col-12">
    <div class="row padding">
        <div class="col-8">
            <h2>Trainings</h2>
        </div>
        <div class="col-2-md-8-xs-6-sm-6">
            <button id="request-a-training" type="button" class="btn btn-right" (click)="open(request)">
                Request a Training
            </button>

        </div>
        <div class="col-2-md-4-xs-6-sm-6">
            <button id="offer-a-training" type="button" (click)="open(content)" class="btn btn-right">
                Offer a Training
            </button>

            <!-- Modal -->
            <ng-template #request let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Enter requesting Training details</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-send-email [subject]="subject"  (saveClicked)="c('Cross click')"></app-send-email>
                </div>
            </ng-template>


            <!-- Offer Training-->
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Offer a Training</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <app-add-training #form (saveClicked)="c('Cross click')"></app-add-training>
                </div>

            </ng-template>

        </div>

    </div>

    <div class="row mb-xl-4 mb-lg-4 mb-md-3 mb-sm-2 mb-1">
        <div class="col-12">
            <ul id="trainings-nav" class="nav nav-tabs justify-content-center" style="cursor:pointer">
                <li class="nav-item">

                    <a id="myenrolledtrainings" class="nav-link" [routerLink]="['myenrolledtrainings']" routerLinkActive="active">
                        My Enrolled Trainings
                    </a>
                </li>
                <li class="nav-item">

                    <a id="availabletrainings" class="nav-link" [routerLink]="['availabletrainings']" routerLinkActive="active">
                        Available Trainings
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>