<div class="col-12">
  <div class="row ">
    <div class="col-sm-6 col-md-8 mt-2">
      <h2 class="pt-3">Skills</h2>
    </div>
    <div class="col-sm-6 col-md-4 mt-2">
      <button id="request-for-modelSkill" type="button" class="btn right" (click)="open(request)">
        Request For Skill
      </button>
    </div>

    <!-- Modal -->
    <ng-template #request let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Enter requesting Skill Detail</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-send-email [subject]="subject" (saveClicked)="c('Cross click')" ></app-send-email>
      </div>
    </ng-template>
  </div>

  <div class="row mb-xl-4 mb-lg-4 mb-md-3 mb-sm-2 mb-1">
    <div class="col-12">
      <ul id="modelSkill-nav" class="nav nav-tabs justify-content-center" style="cursor:pointer">
        <li class="nav-item">

          <a id="myskill" class="nav-link" [routerLink]="['myskill']" routerLinkActive="active">
            My Skills
          </a>
        </li>
        <li class="nav-item">

          <a id="allskill" class="nav-link" [routerLink]="['skillgroup']" routerLinkActive="active">
            All Skills
          </a>
        </li>
      </ul>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
