:host>>>table tr:nth-child(even) {
    background-color: lightskyblue;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16); 
  }
  
  
:host /deep/ table{
    color: #606c71;
    border: 1px solid #3593c2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}  

#uploadcsv{
    background: linear-gradient(to right, #0697C3 , #4DBFE2);
    color: white;
    width:200px;
    height:40px;
    margin-top:5px;
    margin-left:65px;
}