th {
    background-color: rgb(212, 217, 221);
   
 } 
 span {
     color:rgb(168, 172, 172);
 }
 p {
    margin-top:0px;
    margin-bottom:0px;
 }
.button {
   text-align:center;
   /* padding-top: 30px; */
}
#enrollment
{
    background: linear-gradient(to right, #0697C3 , #4DBFE2);
    color: white;
    display: inline-flex;
}

#session
{
    background: linear-gradient(to right, #0697C3 , #4DBFE2);
    color: white;
    display: inline-flex;
}

#edit{
    color: rgba(93, 94, 95, 0.664);
}

#new-edit{
   background-color: white;
   border: none;
   
}

#left {
    padding-right:15px;
    padding-left: 15px;
    height: 35px;
    background-color: #f0f5f5;
    border-radius: 5px;
   
}

#right{
   padding-right:15px;
   padding-left: 15px;
   height: 35px;
   background-color: #f0f5f5;
   border-radius: 5px;
} 

h2 {
    padding-left: 16px;
}