<div *ngIf='true'>
  
    <div class="row">
      <div class="col-md-8 align-middle" id="header">
        <h2 id="textHeader">
          {{modelSkill}}
        </h2>
      </div>
      <div class="col-md-4 mb-3">
        
        <button id="back-to-modelSkill" class="btn right mt-2" routerLink="/skills/skillgroup" routerLinkActive="active">
          Back To Skill List
        </button>
      </div>
    </div>
  

  <div class="row">
    <div class="col-12 table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Skill Name</th>
            <th>No of Rated Users</th>
            <th></th>
          </tr>
        </thead>
        
          <!-- SPiNNer code -->
        <tbody *ngIf="showSpinner">
            <tr>
              <td colspan=3  id="spinner">
                <span class="fa fa-spinner fa-spin" style="font-size: 60px;" ></span>
              </td>
            </tr>
        </tbody>


        <tbody *ngFor="let employeeskill of employeeSkillList;">
          <tr>
            <td class="align-middle" id="tdname" #name>{{employeeskill.subSkill?.subSkill}} </td>
            <td id="tdRatedUsers" >
              <p *ngIf= " employeeskill.subSkill?.totalNumberofRatedUsers!==0">
              {{employeeskill.subSkill?.totalNumberofRatedUsers}}
              </p>
            </td>
            <td>
              <button id="rate-button" class="btn" [hidden]="activeTags.includes(employeeskill.subSkill?.id)"
                   (click)="toggle(employeeskill.subSkill?.id)">
                   Rate Your Skill
              </button>
            </td>
          </tr>
          <tr [class.show]="activeTags.includes(employeeskill.subSkill?.id)" Class="collapse">
            <td style="transform:translate(10%,0)" colspan="2">
              <app-rating [skills]=employeeskill
                          (cancelClicked)="toggle($event)"
                          (updateClicked)="OnRatingUpdated($event)"
              ></app-rating>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
