
<div class="row">
  <div class="col-12 table-responsive-md border-botttom-1">
    <table class="table">
      <thead>
      </thead>

      <tbody>
        <tr *ngFor="let modelSkill of skills">
          <td id="tdname">{{modelSkill}}</td>

          <td id="tdbutton">            
            <button id="explore-button" type="button" class="btn" [routerLink]="['explore',modelSkillGroup +'_' + modelSkill]" >Explore</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
