body {
  margin: 0;
  padding: 0;
  background-image: url(/assets/images/background.jpg);
  height: 200vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 480px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -80px;
}
