<div class="row">
  <div class="col-md-9">
    <h5>
      Choose Your Certification
    </h5>
  </div>

  <div class="col-md-3">
    <!-- Button trigger modal -->
    <button id="not-in-list" type="button" *ngIf="isadmin()" class="btn right" (click)="open(certificationNotInListModal)">
      Certification Not in List?
    </button>
    <ng-template #certificationNotInListModal let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Certification not in list?</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-new-certification (saveClicked)="c('Cross click')"></app-new-certification>
      </div>
    </ng-template>
  </div>
</div>

<div class="row">
  <div class="col-12 table-responsive-md">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Certification Name</th>
          <th scope="col">Institution</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="showSpinner">
        <tr>
          <td colspan=3 id="spinner">
            <span class="fa fa-spinner fa-spin" style="font-size: 60px;"></span>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="(!certifications) ||(certifications?.length ===0)">
        <tr>
          <td>
            <h5>{{errorMessage}}</h5>
          </td>
        </tr>
      </tbody>
      <tbody *ngFor="let certification of certifications">
        <tr>
          <td>{{certification?.certificationName}}</td>
          <td>{{certification?.institution}}</td>
          <td>
            <button id="{{addCertificate + certification?.certificationName}}" class="btn right" (click)=Valid(certification?.certificationName)>
              Add
            </button>
          </td>

        </tr>
        <tr id={{certification?.certificationName}} hidden=true>
          <td id="hidden-row" colspan="2">
            <app-add-certification [certificationReceived]=certification [certificationName]=certification?.certificationName (cancelClicked)='onCanceledClicked($event)'></app-add-certification>
          </td>
        </tr>
      </tbody>
    </table>
  </div>